# Disable directory listing
Options -Indexes

# Set default file
DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On

  # Allow existing files and folders
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Redirect all other routes to React
  RewriteRule ^ index.html [L]
</IfModule>